<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Meedesidy</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Olive Enterprise">
  <%= csrf_meta_tags %>
</head>
<body>
<% provide(:title, '首页信息') %>
<div>
  <div class="container">
    <!-- BEGIN MAIN CONTENT -->
    <section class="error-wrapper">
      <h1>404</h1>
      <h2>丢了.丢了..丢了...我要....<a href="/" data-skip-pjax>回家</a></h2>
    </section>
    <!-- END MAIN CONTENT -->
  </div>
</div>
</body>