<% provide(:title, '新建角色') %>
<div class="panel col-md-12 col-lg-11 col-sm-12 col-xs-12">
  <h5 class="page-header" id="page_title_by_menu">新建角色</h5>

  <div style="width: 60%;">
    <div class="form"></div>
      <%= render :partial => 'form' %>
  </div>
</div>