<% provide(:title, '编辑图标') %>
<div class="panel col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <h5 class="page-header" id="page_title_by_menu">编辑图标</h5>

  <div style="width: 60%;">
    <div class="form">
      <%= render :partial => 'form' %>
    </div>
  </div>
</div>