<footer class="site-footer navbar-fixed-bottom" data-skip-pjax>
  <div class="text-center">
    2017 &copy; Meedesidy Admin by
    <a href="" target="_blank">
      Meedesidy
    </a>
    <a href="#" class="go-top">
      <i class="fa fa-angle-up">
      </i>
    </a>
  </div>
</footer>