<header class="header white-bg meedesidy_bg_header">
  <div class="sidebar-toggle-box">
    <div  data-placement="right" class="fa fa-bars tooltips">
    </div>
  </div>
  <div style="color: #ffffff;">
    <%= link_to "Meedesidy", home_index_path, class: "logo meedesidy_logo" %>
  </div>
  <div class="top-nav ">
    <li class="nav pull-right">
      <a class="task-thumb">
        <%= image_tag "avatar1_small.jpg", class: 'thumb', style: "width: 50px; height: 50px;"%>
      </a>
      <ul class="dropdown-menu extended logout" style="margin-top: 10px;">
        <li style="background-color: #dadada;">
          <%= link_to('退出', destroy_user_session_path, :method => :delete,'data-skip-pjax' => true) %>
        </li>
        <li>
          <%= link_to('修改密码', edit_registration_path(:user)) %>
        </li>
      </ul>
    </li>
  </div>
</header>
<script>
  $(function () {
    $(".pull-right").hover(function () {
      if($(".dropdown-menu").css('display') == "none"){
        $(".dropdown-menu").slideDown();
      }else{
        $(".dropdown-menu").slideUp();
      }
    });
  })
</script>