<div id="sidebar" class="nav-collapse">
  <ul class="sidebar-menu" id="nav-accordion">
    <li>
      <a href="index.html" class="active">
        <i class="fa fa-dashboard">
        </i>
        <span>
                  首页
                </span>
      </a>
    </li>
    <li class="sub-menu">
      <a href="javascript:;">
        <i class="fa fa-laptop"></i>
        <span>系统权限管理</span>
        <span class="label label-success span-sidebar">4</span>
      </a>
      <ul class="sub">
        <li><%= link_to '用户信息管理', :users %></li>

        <li><a href="##">角色信息管理</a></li>
        <li><a href="##">权限信息管理</a></li>
        <li><a href="##">开发哥忙碌中</a></li>
      </ul>
    </li>
  </ul>
</div>